.form {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 30px;
}

.form label {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width:100%;
}

.form input[type="number"] {
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 14px 18px;
  font-size: 17px;
  outline: none;
  transition: 0.2s;
}

.form input[type="number"]:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 3px rgba(13,110,253,0.15);
}

fieldset {
  border: 1px solid #dcdcdc;
  border-radius: 12px;
  padding: 18px 20px;
  display: flex;
  gap: 28px;
  align-items: center;
  font-size: 17px;
}

legend {
  font-size: 18px;
  font-weight: 600;
  padding: 0 6px;
}

fieldset label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  cursor: pointer;
}

button {
  text-decoration: none;
  padding: 0.9rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: #0066ff;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 102, 255, 0.25);
}
