#datetime-picker { 
  padding: 10px; 
  font-size: 16px; 
  margin-bottom: 10px; 
}
button {
  text-decoration: none;
  padding: 0.9rem 2rem;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
button[data-start] {
  background-color: #0066ff;
  color: white;
  box-shadow: 0 4px 12px rgba(0, 102, 255, 0.25);
}
button[data-stop] {
  border: 1.5px solid #ccc;
  color: #333;
  background: transparent;
}
button[data-start]:disabled, button[data-stop]:disabled {
  background: #9dbff1;
  cursor: not-allowed;
}
button[data-stop]:disabled {
  background: #ffffff;
}
.timer {
  display: flex; 
  gap: 20px; 
  margin-top: 20px; 
  font-size: 22px; 
  text-align: center; 
}
.field { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
.value { 
  font-weight: bold; 
  font-size: 34px; 
}
.label {
  font-size: 14px; 
  color: #555; 
}